<h1>Task Deleted</h1>

<p>Now that you can pretend you don't have to do that anymore (even though we both know you do),</br></br> would you like to <a href="/tasks">see the shit you have to do</a>, or <a href="/tasks/new">add more shit to your to do list</a>?</p>
