<h1>To Do List</h1>
<ul>
  <% @tasks.each do |task| %>
    <li><a href="/tasks/<%= task.id%>"><%= task.task_name %></a></li>
  <% end %>
</ul>

<p><a href="/tasks/new">Add more shit to your to do list</a></p>
