<h1>Task saved</h1>

<p>Your task has successfully been saved to your to do list.</p>

<p>Now, <a href="/tasks/new">add another task</a>, <a href="/tasks">view your to do list</a>, or stop procrastinating and do some shit!</p>
